@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-purple: #520378;
  --color-brand-purple-light: #6a0b9e;
  --color-brand-cream: #FFFDEA;

  --font-inter-tight: "Inter Tight", sans-serif;
  --font-geist: "Geist", sans-serif;
  --font-family-sans: var(--font-geist);
}

@layer base {
  body {
    @apply font-[Geist] antialiased text-gray-800 bg-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-[Inter_Tight];
  }
}

@layer components {
  .btn-primary {
    @apply bg-brand-purple text-white px-6 py-2.5 rounded-full font-semibold text-sm transition-all hover:bg-brand-purple-light hover:-translate-y-0.5 hover:shadow-lg active:scale-95;
  }

  .section-title {
    @apply text-3xl md:text-4xl font-bold mb-5;
  }

  .container {
    @apply max-w-[1200px] mx-auto px-5;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

.pause-animation:hover {
  animation-play-state: paused;
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes breathe {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

.animate-breathe {
  animation: breathe 8s ease-in-out infinite;
}

.animate-marquee-vertical {
  display: flex;
  flex-direction: column;
  height: max-content;
  animation: marquee-vertical 20s linear infinite;
}